.logo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;

  &__main-title {
    font-size: 28px;
    font-weight: 700;
    fill: #fff;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: -0.02em;
  }

  &__sub-title {
    font-size: 14px;
    font-weight: 400;
    fill: rgba(255, 255, 255, 0.6);
    font-family: inherit;
  }
}