@use "sass:math";

$min-vw: 375;
$max-vw: 1440;

@function calc-fluid($min-size, $max-size) {
  $slope: math.div($max-size - $min-size, $max-vw - $min-vw);
  $y-axis-intersection: -($min-vw * $slope) + $min-size;
  @return clamp(#{$min-size}px, calc(#{$y-axis-intersection}px + #{$slope * 100}vw), #{$max-size}px);
}

@mixin fluid($property, $min-size, $max-size) {
  #{$property}: calc-fluid($min-size, $max-size);
}

@mixin font-size($min, $max) {
  font-size: calc-fluid($min, $max);
}

@mixin width($min, $max) {
  width: calc-fluid($min, $max);
}

@mixin height($min, $max) {
  height: calc-fluid($min, $max);
}

@mixin gap($min, $max) {
  gap: calc-fluid($min, $max);
}

@mixin padding-x($min, $max) {
  padding-left: calc-fluid($min, $max);
  padding-right: calc-fluid($min, $max);
}

@mixin padding-y($min, $max) {
  padding-top: calc-fluid($min, $max);
  padding-bottom: calc-fluid($min, $max);
}